$color-muted: #cecece;
$color-white: #fff;
$color-green: #c2e891;

$brand-sizes: (
    spotify: (2.875rem, 8.875rem),
    audi: (2.8125rem, 8rem),
    adidas: (5.5rem, 5.375rem),
    lufthansa: (1.875rem, 8.9375rem),
    ikea: (3.75rem, 9rem),
    montblanc: (4.25rem, 7.5625rem)
);

$tablet-brand-heights: (
    spotify: 2.1875rem,
    audi: 2.1875rem,
    adidas: 3.7rem,
    lufthansa: 1.5rem,
    ikea: 2.3rem,
    montblanc: 3.6rem
);