* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.email-section {
    font-size: 1.8rem;
    padding: 4.3rem;
}

.email-section .email {
    display: flex;
    justify-content: flex-end;
    padding-right: 7rem;
}

.heading {
    text-align: center;
    padding: 3rem 9rem;
}

.heading .name {
    font-size: 10.8rem;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.heading .name .name-bold {
    font-weight: 650;
}

.heading .occupation {
    margin-top: 0.9rem;
    font-size: 3.65rem;
    font-weight: 500;
    color: #cecece;
}

.highlight-blue {
    color: #5a8cd7;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 6.6rem 7.35rem 9.3rem;
}

.portfolio .portfolio-item {
    width: 27.1875rem;
    height: 24.0625rem;
    object-fit: cover;
}

.brands-area {
    text-align: center;
    padding: 0rem 7.8rem;
}

.brands-area h2 {
    font-size: 3.3rem;
    margin-bottom: 4.5rem;
    color: #cecece;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
}

.brands .brand-item {
    transform: scale(0.6);
}

.highlight-green {
    color: #c2e891;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.9rem;
    gap: 2.3rem;
    width: 100%;
}

.line span {
    height: 1.5px;
    background-color: #fff;
}

.line-short {
    width: 2%;
}

.line-long {
    width: 13%;
}

.social-media {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3.5rem;
}

.social-media .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.64rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 60%;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.social-media a .social-icons {
    transition: color 0.3s ease;
}

.social-media a .social-icons:hover {
    color: #c2e891;
}

.footer .footer-tag {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .brands-area {
        text-align: center;
        padding: 0.1rem 0rem;
    }
}

/* phone view */
@media (max-width: 474px) {
    .heading {
        order: -2;
        padding: 15rem 1rem 0.2rem;
    }

    .heading .name {
        margin-bottom: 0.75rem;
        font-size: 3.8rem;
    }

    .heading .occupation {
        font-size: 2.2rem;
    }

    .email-section {
        order: -1;
        font-size: 1.15rem;
        padding: 0 6.5rem 5.3rem;
    }

    .email-section .email {
        padding-right: 0;
    }

    .portfolio {
        gap: 1rem;
        padding: 1.3rem 1.3rem;
    }

    .portfolio .portfolio-item {
        width: 100%;
        height: auto;
        margin-bottom: 0.2rem;
    }

    .brands-area {
        padding: 3.9rem 0 1rem;
    }

    .brands-area h2 {
        font-size: 2.1rem;
        margin-bottom: 4.5rem;
    }

    .brands {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2.5rem;
        margin-left: 0;
        margin-right: 2rem;
    }

    .brands .brand-item {
        width: 45%;
        margin-bottom: 1.5rem;
    }

    #audi {
        width: 38%;
    }

    #adidas {
        width: 25%;
    }

    #montblanc {
        width: 38%;
    }

    #lufthansa {
        width: 47%;
    }

    .line {
        margin-bottom: 0.9rem;
        gap:1.5rem;
    }

    .line-short {
        width: 6%;
    }

    .line-long {
        width:32%;
    }

    .footer {
        padding-top: 7.4rem;
        padding-bottom: 4rem;
    }

    .social-media {
        margin-bottom: 1rem;
        gap: 1.7rem;
    }

    .social-media .social-icons {
        font-size: 2.05rem;
        padding: 1.55rem;
    }

    .footer .footer-tag {
        margin-top: 1.1rem;
        font-size: 1.75rem;
    }

    .line pre {
        font-size: 0.75rem;
    }
}