* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content {
    width: 36.5%;
}

/* logo */
.logo-container {
    height: 5.2rem;
    width: 10.4rem;
}

.logo-image {
    width: 100%;
    object-fit: contain;
    transform: scale(1.7);
}

/* tabs */
.horizontal-bar {
    display: flex;
    flex-direction: row;
    padding: 5.3rem 0 0 1.7rem;
    gap: 0.9rem;
}

.bar-items {
    padding: 0.6875rem 1.625rem;
    list-style: none;
    border-radius: 0.3125rem 0.3125rem 0 0;
    background-color: #000;
    font-size: 0.6563rem;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.bar-items.active {
    background-color: #061a6c;
}

/* sections */
.section-container {
    width: 100%;
    height: 35rem;
    box-shadow: 0 0 0.5rem 0.125rem rgba(63, 61, 61, 0.25);
    padding: 1.5rem 1.6875rem;
    overflow: scroll;
}

/* about us */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content {
    justify-content: justify;
    padding: 0.25rem 0 1.625rem 0;
    line-height: 1.46;
    font-size: 0.8438rem;
    font-weight: 100;
}

.about-image {
    width: 36rem;
    height: 15rem;
}

.about-image img {
    width: 100%;
    height: 100%;
}

/* solutions */
#accordion {
    display: flex;
    flex-direction: column;
    border: #838eb6;
    gap: 0.5rem;
    width: 100%;
}

#accordion .ui-accordion-header {
    padding: 0.7063rem 0.1875rem;
    cursor: pointer;
    background-color: #838eb6;
    color: #fff;
    border: none;
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    border-radius: 0;
}

#accordion .ui-icon {
    margin-right: 0.1875rem;
    filter: brightness(0) invert(1);
    transform: scale(0.7);
}

#accordion .ui-accordion-content {
    margin-top: -0.625rem;
    border: 0.0625rem solid #acb3ce;
    padding: 0.9375rem 1.0625rem;
    font-size: 0.6875rem;
    line-height: 1.375;
    border-radius: 0;
    font-weight: 100;
}

/* locations */
.locations {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-size: 0.75rem;
    font-weight: 200;
    gap: 0.5rem;
}

.locations .row {
    display: flex;
    align-items: center;
    padding: 0.4375rem 1.25rem 0.4375rem 0.875rem;
    gap: 3.125rem;
}

.locations .flag {
    width: 1.375rem;
    height: 1.4375rem;
    border-radius: 50%;
}

.locations .flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.locations .state {
    width: 7.8125rem;
}

.locations .city {
    width: 9.375rem;
}

.locations .contact {
    text-align: end;
    width: 6.25rem;
}

.locations .row:nth-child(odd) {
    background-color: #e4e2e2de;
}

.locations .row:nth-child(even) {
    background-color: #ead5f1;
}